<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c29bf7ee1c214ab39f00acc5e7d5d56b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c29bf7ee1c214ab39f00acc5e7d5d56b" ></div>
        
</body>
<script>    
    
            var map_c29bf7ee1c214ab39f00acc5e7d5d56b = L.map(
                "map_c29bf7ee1c214ab39f00acc5e7d5d56b",
                {
                    center: [51.7470283, 19.4145344],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b55c8f38938e4e0e868c4b6191436deb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c29bf7ee1c214ab39f00acc5e7d5d56b);
        
    

        function geo_json_472be1bd92db40c2be38ba52fa38351f_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_472be1bd92db40c2be38ba52fa38351f = L.geoJson(null, {
                onEachFeature: geo_json_472be1bd92db40c2be38ba52fa38351f_onEachFeature,
            
        });

        function geo_json_472be1bd92db40c2be38ba52fa38351f_add (data) {
            geo_json_472be1bd92db40c2be38ba52fa38351f
                .addData(data)
                .addTo(map_c29bf7ee1c214ab39f00acc5e7d5d56b);
        }
            geo_json_472be1bd92db40c2be38ba52fa38351f_add({"features": [{"geometry": {"coordinates": [[19.416865, 51.74714], [19.417895, 51.747093], [19.41885, 51.747], [19.419161, 51.747014], [19.419365, 51.7471], [19.419183, 51.747505], [19.418646, 51.749026], [19.418603, 51.749245], [19.418764, 51.749876], [19.422144, 51.754612], [19.422745, 51.755203], [19.423807, 51.755655], [19.424686, 51.755774], [19.427487, 51.755469], [19.430233, 51.755455], [19.434643, 51.755801], [19.43504, 51.755867], [19.433355, 51.75857], [19.432089, 51.760303], [19.430523, 51.762043], [19.428978, 51.764095], [19.426628, 51.767468], [19.438065, 51.771027], [19.437561, 51.772919]], "type": "LineString"}, "properties": {"description": "", "name": ""}, "type": "Feature"}], "type": "FeatureCollection", "webtools": {"lang": "en", "translatable": ["name", "description"]}});

        
</script>